/* Start main rules */

body {
    background-color: #f4f4f4;
    font-size: 16px;
}

/* End main rules */


/* Start Login Form */

.login {
    width: 400px !important;
    margin:150px auto;
}

.login input {
    margin-bottom: 10px;
}

.login .form-control {
    background-color: #e5e5e5;
}

.login .btn {
    background-color: #008dde;
}

.asterisk {
    font-size: 30px;
    position: absolute;
    top: 7px;
    right: 31px;
    color: rgb(180, 0, 0);
}

/* End Login Form */

/* Start Bootstrap Edits */

.navbar-brand {
    font-size: 1em;
}

.navbar-nav  > .nav-item > .nav-link ,
.navbar-brand {
    padding: 15px 12px;
}


.dropdown-toggle:hover,
.dropdown-menu {
    color: #f4f4f4;
    background-color: #3498db;
}

.dropdown-menu {
    /* padding: 0; */
    font-size: 1em;
    min-width: 180px;
}

.dropdown-menu > li > a {
    padding: 10px 15px;
    color: #f4f4f4;
}

.form-group > div.col-sm-10 {
    position: relative;
}
/* End Bootstrap Edits */

/* Start Dashboard */

.home-stat .stat {
    padding: 20px;
    font-size: 16px;
    color: #fff;
    border-radius: 10px;
}

.home-stat .stat a {
    color: #fff;
    text-decoration: none;
}

.home-stat .st-members{
    background-color: #c0392b;
}

.home-stat .st-items{
    background-color: #d35400;
}

.home-stat .st-comments{
    background-color: #27ae60;
}

.home-stat .st-pending{
    background-color: #8e44ad;
}

.home-stat .stat span {
    display: block;
    font-size: 60px;
}

.latest {
    margin-top: 30px;
}

.latest-user {
    margin-bottom: 0;
}

.latest-user li {
    padding: 10px;
    font-size: 19px;
    font-weight: 600;
    /* overflow: hidden; */
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
}

.latest-user li:nth-child(odd) {
    background-color: #c9d0d4;
}

.latest-user li .btn {
    padding: 2px 8px;
}

.latest-user li .btn i {
    position: relative;
    top: -1px;
    font-size: 14px;
}

.latest-user li a {
    color: #fff;
    text-decoration: none;
}

.card-latest {
    padding: 20px;
}

.title-latest {
    margin-left: 15px;
}
/* End Dashboard */

/* Start Members page */

h1 {
    font-size: 50px;
    margin: 50px 0;
    font-weight: bold;
    color: #666;
}

.show-pass {
    position: absolute;
    top: 16px;
    right: 58px;
}

.main-table {
    box-shadow: 0 3px 9px #cccccca6;
}

.main-table td {
    vertical-align: middle;
    
}

.main-table .btn {
    padding: 5px 13px;
}

.main-table i {
    position: relative;
    left: -4px;
    font-size: 14px;
}

.main-table tr:first-child td {
    background-color: #333;
    color: #f4f4f4;
}
/* End Members page */

/* Start Categories page */

.categories .cat h3 {
    margin: 0 0 10px;
}

.categories .cat:last-of-type ~ hr {
    display: none;
}

.categories .cat .visibility {
    background-color: #d35400;
    color: #fff;
    padding: 3px 10px;
    padding-bottom: 5px;
    margin-right: 5px;
    border-radius: 8px;
    overflow: auto;
}

.categories .cat .commenting {
    background-color: #2980b9;
    color: #fff;
    padding: 3px 10px;
    padding-bottom: 5px;
    margin-right: 5px;
    border-radius: 8px;
    overflow: auto;
}

.categories .cat .advertising {
    background-color: #2c3e50;
    color: #fff;
    padding: 3px 10px;
    padding-bottom: 5px;
    margin-right: 5px;
    border-radius: 8px;
    overflow: auto;
}
/* End Categories page */